body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	color: #000000;
	position: relative;
	min-width: 960px;
}


.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	background-color: #f4f7f9;
}

.logo {
	background-color: #ee3643;
	height:42px;
	width: 220px;
	box-shadow: 0px 5px 0 0 #B6242F;
}

.logo img {
	display: block;
	margin: 13px auto 12px auto;
}

.logo:hover {
	background-color: #ca2c37;
}
.logo:active {
	background-color: #ba2732;
}

.search-form input {
	width: 270px;
	font-size: 17px;
	background-color: #293449;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	font-family: "Cuprum", Arial, sans-serif;
	padding-left: 48px;
	height: 42px;
	line-height: 42px;
}

.search-form {
	position: relative;
}

.search-form-catalog input {
	width: 265px;
}

.search-form input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 18px;
	width: 17px;
	height: 17px;
	background-image: url("../img/icon-search.svg");       /* !!!!!!!!!!!!!!!!!!! */
	background-repeat: no-repeat;
	background-position: 0 0;
	filter: grayscale(1);
}

.search-form:hover::before {
	filter: brightness(0) invert(1);
}

.search-form:active::before,
.search-form:focus::before {
	filter: grayscale(0);
}

.basket:hover,
.bookmarks:hover,
.search-form input:hover {
	background-color: #212a3a;
}

.search-form input:focus {
	background-color: #ffffff;
	outline: none;
}

.order:active,
.basket:active,
.bookmarks:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.order:hover {
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
}

.main-menu {
	background-color: #293449;
	color: #ffffff;
	font-size: 17px;
	margin-bottom: 46px;
}

.main-menu-wrapper {
	display: flex;
}

.main-menu a {
	color: #ffffff;
	text-decoration: none;
}

.bookmarks,
.basket {
	display: block;
	position: relative;
	padding: 11px 30px 10px 46px;
}

.basket-active {
	background-color: #ee3643;
}

.bookmarks::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 18px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket:hover::before,
.bookmarks:hover::before {
	opacity: 1;
}

.basket:focus::before,
.bookmarks:focus::before {
	opacity: 0.5;
}

.order {
	display: block;
	padding: 11px 22px 10px 20px;
	background-color: #63a63e;
}

.header-center {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 40px;
}

.header-center h1 {
	font-weight: 400;
	font-style: italic;
	max-width: 200px;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	padding: 0;
	margin: 3px 0 0 53px;
}

.contacts {
	margin: 0 0 0 67px;
	padding: 0;
	max-width: 300px;
	position: relative;
}

.contacts p:last-child {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
	text-align: center;
}

.telephone {
	margin: 0 0 4px 0;
	max-width: 270px;
	padding: 8px 50px 7px 70px;
	font-size: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
}

.telephone::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-navigation {
	margin: 0 0 0 70px;
	padding: 0;
	display: flex;
	max-width: 280px;
	list-style: none;
}

.user-navigation a {
	font-size: 21px;
	color: #000000;
	background-color: #ffffff;
	display: block;
	padding: 10px 24px 11px 24px;
	margin: 0 10px 0 0;
	position: relative;
	text-decoration: none;
}

.user-navigation .come-in {
	padding: 10px 25px 11px 48px;
}

.come-in::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.come-in:hover::before {
	opacity: 1;
}

.come-in:active::before {
	opacity: 0.5;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}

.site-navigation {
	padding-bottom: 60px;
}

.top-navigation  {
	margin: 0;
	padding: 0 22px;
	line-height: 17px;
	background-color: #32425c;
	display: flex;
	box-shadow: inset 0px -5px 0 0 #293449;
	justify-content: space-between;
	list-style: none;
}

.top-navigation li {
	flex-grow: 1;
	text-align: center;
}

.top-navigation a {
	display: block;
	padding-top: 19px;
	padding-bottom: 23px;
	color: #ffffff;
	text-decoration: none;
}

.top-navigation a:hover {
	background-color: #293449;
}

.top-navigation a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

.catalog-offers {
	margin-top: 58px;
	margin-bottom: 34px;
}

.catalog-goods-list {
	display: flex;
	margin: 0;
	padding:0;
	justify-content: space-between;
	list-style: none;
}

.catalog-goods-item {
	width: 300px;
	height: 123px;
	position: relative;
	margin-bottom: 20px;
}

.catalog-goods-item h3 {
	font-family:  "Cuprum", Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 22px 10px 7px 22px;
	margin: 0;
	margin-bottom: 9px;
	color: #ffffff;
}

.catalog-goods-list li:nth-child(1) h3::before {
	content: "";
	position: absolute;
	top: 31px;
	right: 43px;
	width: 44px;
	height: 65px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-goods-list li:nth-child(2) h3::before {
	content: "";
	position: absolute;
	top: 33px;
	right: 28px;
	width: 75px;
	height: 61px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-goods-list li:nth-child(3) h3::before {
	content: "";
	position: absolute;
	top: 31px;
	right: 32px;
	width: 78px;
	height: 62px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-goods-item a {
	display: block;
	text-align: center;
	width: 135px;
	font-size: 14px;
	padding: 10px 0px 10px 0px;
	margin: 0 24px 23px;
	background-color: rgba(0,0,0, 0.1);
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 2px;
	text-decoration: none;
}

.materials-item {
	background-color: #ffbf47;
}

.tool-item {
	background-color: #3bbce3;
}

.equipment-item {
	background-color: #dc91d8;
}

.catalog-additional-services {
 	display: flex;
}

.slider-container {
	width: 620px;
	height: 266px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 35px;
	z-index: 100;
	width: 160px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	width: 10px;
	height: 10px;
	background: #ffffff;
	border-radius: 50%;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 0;
	padding-bottom: 26px;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slider-image.jpg");
	background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide-image2.jpg");
	background-repeat: no-repeat;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before {
	content: "";
	position: absolute;
	left: 64%;
	top: 63%;
	z-index: 2;
	width: 6px;
	height: 6px;
	margin: -4px;
	background-color: #ee3643;
	border-radius: 50%;
}

.slider-item h3 {
	font-size: 36px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 400;
	padding: 0;
	margin: 0;
	padding-top: 20px;
	margin-left: 25px;
	font-weight: bold;
}

.slider-item p {
	font-size: 18px;
	color: #ffffff;
	margin: 0;
	margin-left: 25px;
	margin-bottom: 126px;
	position: relative;
}

.slider-item a {
	display: block;
	margin: 0px 24px 26px 26px;
	padding: 10px 0px 10px 0px;
	width: 195px;
	text-align: center;
	text-decoration: none;
}

.slider-item .button:hover,
.slider-item .button:focus {
	background-color: #ca2c37;
}

.slider-item .button:active {
	background-color: #ba2732;
}

.slider-item p::before {
	content: "";
	position: absolute;
	top: 52px;
	left: 1px;
	width: 22px;
	height: 40px;
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-item p::after {
	content: "";
	position: absolute;
	top: 52px;
	right: 20px;
	width: 22px;
	height: 40px;
	background-image: url("../img/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	transform: rotate(180deg);
}

.catalog-additional-services-list {
 	display: flex;
 	flex-direction: column;
 	margin-left: 20px;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style: none;
}

.discounts-item {
	background-color: #8ed78f;
}

.delivery-item {
	background-color: #ffc047;
}

.catalog-additional-services-list li:nth-child(1) h3::before {
	content: "";
	position: absolute;
	top: 26px;
	right: 45px;
	width: 59px;
	height: 72px;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.catalog-additional-services-list li:nth-child(2) h3::before {
	content: "";
	position: absolute;
	top: 32px;
	right: 30px;
	width: 78px;
	height: 63px;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.popular-catalog-item {
	display: flex;
	flex-direction: column;
	width: 218px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	margin-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.popular-catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-list-popular {
	margin: 0;
	margin-top: 17px;
	list-style: none;
}

.wrapper-for-headline {
	display: flex;
	background-color: #f9f5f0;
	justify-content: space-between;
	align-items: center;
}

.wrapper-for-headline h2 {
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	margin-left: 30px;
}

.wrapper-for-headline a {
	margin: 26px 25px 28px 10px;
	padding: 11px 0px 10px 0px;
	width: 253px;
	text-align: center;
	text-decoration: none;
}

.manufacturers {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 85px;
	list-style: none;
}

.manufacturers li {
	border: 1px solid #eaeaea;
	padding: 0;
	margin-right: 20px;
	margin-top: 20px;
}

.manufacturers li:nth-child(4n) {
	margin-right: 0;
}

.manufacturers a {
	width: 218px;
	min-height: 142px;
	position: relative;
	display: block;
	text-decoration: none;
}

.manufacturers img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.bosch img {
	margin-top: -2px;
}

.makita img {
	margin-top: -4px;
}

.de-walt img {
	margin-top: -4px;
}

.interscol img {
	margin-top: -9px;
}

.metabo img {
	margin-top: -5px;
}

.services {
	background-color: #f4f7f9;
	margin-bottom: 75px;
	padding-top: 62px;
}

.services h2 {
	font-weight: 400;
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-bottom: 24px;
}


.services p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin: 0;
	width: 400px;
}

.services-wrapper {
	display: flex;
	position: relative;
}

.services-list::before {
	content: "";
	position: absolute;
	top: 21px;
	left: 230px;
	width: 10px;
	height: 280px;
	background-image: url("../img/divider.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.services-list {
	margin: 0;
	margin-top: 70px;
	padding: 0;
	list-style: none;
}

.services-list li {
	line-height: 30px;
	font-size: 21px;
}

.services-item {
	display: block;
	max-width: 200px;
	padding: 14px 144px 15px 22px;
	color: #ffffff;
	background-color: #32425c;
	box-shadow: 0px 1px 0 0 #293449, 0px -1px 0 0 #405069;
	margin-bottom: 2px;
	text-decoration: none;
}

.services-item:hover {
	background-color: #293449;
}

.services-item-current {
	padding: 13px 140px 19px 22px;
	color: #32425c;
	background-color: #ffffff;
	box-shadow: 0px 1px 0 0 #ffffff, 0px -1px 0 0 #ffffff;
	font-weight: bold;
}

.services-item-current:hover {
	background-color: #ffffff;
}

.services-wrapper div {
	margin: 64px 130px 0 80px;
}

.service-delivery {
	padding-bottom: 130px;
}

.service-warranty {
	padding-bottom: 106px;
}

.service-credit {
	padding-bottom: 178px;
}

.service-warranty {
	display: none;
}

.service-credit {
	display: none;
}

.services h3 {
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
	margin: 0;
	margin-bottom: 23px;
}

.service-delivery p {
	max-width: 275px;
}

.service-warranty p {
	max-width: 370px;
}

.service-credit p {
	max-width: 280px;
}

.services-wrapper {
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.information {
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}



.services-close {
	display: none;
}

.services-img-warranty {
	background-image: url("../img/guarantee.png");
}

.credit-img-warranty {
	background-image: url("../img/credit.png");
}

.company {
	width: 520px;
	margin-bottom: 10px;
}

.information h3 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 30px;
	color: #000000;
	margin: 0;
	margin-bottom: 22px;
}

.information p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	margin: 0;
	margin-top: 23px;
}

.information p:nth-child(3) {
	width: 400px;
}

.map p {
	width: 200px;
}

.transport-companies-list {
	font-size: 18px;
	color: #000000;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 33px;
	list-style: none;
}

.transport-companies-item {
	position: relative;
	padding: 10px 20px 10px 36px;
}

.transport-companies-item::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 0px;
	width: 25px;
	height: 4px;
	border-top: 2px solid #ee3643;
}

.information .map {
	width: 300px;
}

.button {
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 2px;
	text-decoration: none;
}

.about-company {
	padding: 10px 40px;
}

.map-oll {
	display: block;
	margin-top: 32px;
	margin-bottom: 34px;
}

.write {
	padding: 11px 0;
	display: block;
	width: 100%;
	text-align: center;
}

.page-footer {
	background-color: #32425c;
}

.top-footer {
	font-size: 18px;
	line-height: 24px;
	display: flex;
	justify-content: space-between;
}

.page-footer-contacts {
	color: #f3f7f9;
	margin-bottom: 50px;
}

.bottom-logo {
	background-color: #ee3643;
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	padding: 20px 40px 25px 40px;
	margin-bottom: 21px;
}

.page-footer-contacts p {
	margin: 0;
	margin-left: 2px;
	min-width: 325px;
	width: 300px;
}


.top-footer-wrapper {
	width: 620px;
	padding-top: 20px;
}

.top-footer-wrapper ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style: none;
}

.top-footer-wrapper li {
	margin: 17px 0 17px 59px;
}

.bottom-navigation-list a {
	color: #f1f5f7;
	text-decoration: none;
}

.products-list a {
	color: #ffda96;
	text-decoration: none;
}
.developer a:hover,
.products-list a:hover,
.bottom-navigation-list a:hover {
	text-decoration: underline;
}

.bottom-navigation-list a:active  {
	color: rgba(241, 245, 247, 0.5);
}

.products-list a:active {
	color: rgba(255, 209, 128, 0.5);
}

.bottom-footer {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.bottom-footer-wrapper {
	display: flex;
}

.copyright {
	margin: 37px 141px 35px 0;
	min-width: 250px;
}

.social {
	margin-right: 118px;
}

.social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 132px;
	margin: 0;
	margin-top: 33px;
	padding: 0;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
}

.bottom-footer a {
	color: #ffd180;
	text-decoration: none;
}

.social a:hover,
.social a:active {
	background-color: #ee3643;
}

.developer {
	display: flex;
	margin: 37px 15px 0 auto;
}

.developer p {
	width: auto;
	margin: 0;
	padding: 0;
	width: 138px;
}

.developer p:first-child {
	margin-right: 50px;
}

.developer a:active {
	color:#ee3643;
}

.modal {
	position: fixed;
	background-color: #ffffff;
}

.modal-letter {
	width: 620px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	font-size: 18px;
	border-top: 7px solid #ee3643;
	display: none;
	z-index: 200;
}

.modal-close {
	position: absolute;
	top: 6px;
	right: 5px;
	font-size: 0;
	width: 22px;
	height: 22px;
	background-color: transparent;
	cursor: pointer;
	padding: 15px 15px;
	border: 0;
	z-index: 3;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 13px;
	right: 1px;
	width: 28px;
	height: 5px;
	background-color: #EF3341;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-letter-wrapper {
	width: 460px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 17px;
	margin-left: auto;
	margin-right: auto;
}

.user-field {
	min-width: 220px;
	margin-top: 35px;
}

.modal-letter-wrapper label {
	width: 100%;
}

.modal-letter-wrapper input,
.modal-letter-wrapper textarea {
	border: none;
	color: #a9a9a9;
	border: 2px solid #d7dcde;
	margin-top: 10px;
	padding: 12px 15px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}

.modal-letter-wrapper input {
	height: 38px;
	line-height: 38px;
}

.modal-letter-wrapper textarea {
	padding-top: 5px;
	padding-bottom: 12px;
	resize: none;
	height: 114px;
}

.modal-letter-form textarea,
.modal-letter-form input::placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	color: #999999;
	font-size: 13px;
}

.modal-letter-wrapper textarea:hover,
.modal-letter-wrapper input:hover {
	border-color: #b5b5b5;
}

.modal-letter-wrapper textarea:focus,
.modal-letter-wrapper input:focus {
	border-color: #ee3643;
	outline: none;
}

.tu-send {
	background-color: #f4f4f4;
	margin-top: 37px;
	padding: 37px 80px;
}

.tu-send button {
	border: 0;
	width: 460px;
	height: 38px;
	font-size: 14px;
	font-family: "Cuprum", Arial, sans-serif;
}

.modal-information-continue {
	background-color: #ffffff;
	border: none;
	cursor: pointer;
	outline: none;
}

.modal-map {
	width: 940px;
	top: 15px;
	left: 50%;
	margin-left: -470px;
	box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
	display: none;
	z-index: 200;
}

.modal-map-wrapper {
	position:relative;
}

.modal-map img {
	margin-bottom: -5px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	z-index: 1;
}

.modal-map iframe {
	position: relative;
	z-index: 2;
	border: none;
}

.choice {
	font-family: "PT Sans", Arial, sans-serif;
}

.user-navigation-personal {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-width: 298px;
}

.user-navigation-name-wrapper {
	display: flex;
	justify-content: space-between;
}

.user-navigation-name {
	font-size: 21px;
	color: #000000;
	background-color: #ffffff;
	padding: 10px 0 10px 48px;
	flex-grow: 1;
	position: relative;
}

.user-navigation-name::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 15px;
	width: 20px;
	height: 18px;
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-navigation-output {
	background-color: #ffffff;
}

.user-navigation-output img {
	display: block;
	width: 20px;
	padding: 14px 7px 14px 15px;
	opacity: 0.3;
}

.user-navigation-list {
	font-size: 16px;
	text-decoration: underline;
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 7px;
	padding-left: 20px;
	position: relative;
	list-style: none;
}

.user-navigation-list a {
	color: #32425c;
	text-decoration: none;
}

.my-orders,
.personal-area {
	display: block;
	padding-right: 32px;
}

.my-orders::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 110px;
	border: 2px solid #32425c;
	border-radius: 50%;
}

.user-navigation-name:hover::before,
.user-navigation-output img:hover {
	opacity: 1;
}

.user-navigation-name:active::before,
.user-navigation-output img:active {
	opacity: 0.3;
}

.user-navigation-name:active {
	color: rgba(0, 0, 0, 0.3)
}

.my-orders:hover,
.personal-area:hover {
	color: #ee3643;
}

.my-orders:active,
.personal-area:active {
	color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs  {
	text-transform: uppercase;
	display: flex;
	margin: 19px 10px 22px 0px;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	font-size: 13px;
	margin: 0;
	padding: 0;
	margin-right: 41px;
	position: relative;
}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
}

.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 3px;
	left: -25px;
	width: 8px;
	height: 12px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.breadcrumbs li:first-child::after {
	display: none;
}

.choice h1 {
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	color: #32425c;
	background-color: #f2f6f8;
	margin: 0 0 20px 0;
	padding: 28px 0px 25px 29px;
}

.choice-wrapper {
	display: flex;
	justify-content: space-between;
}

.filters {
	margin-right: 20px;
}

.filters h2 {
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	width: 201px;
	background-color: #f7f3ec;
	border-radius: 2px;
	padding: 10px 0 12px 19px;
	margin: 0;
	margin-bottom: 15px;
}

.price-slider {
	width: 220px;
	height: 40px;
	background-color: #f7f3ec;
	padding-top: 39px;
	border-radius: 2px;
	margin-bottom: 10px;
	position: relative;
}

.price-slider::after {
	content: "";
	position: absolute;
	top: 39px;
	left: 42px;
	width: 116px;
    height: 2px;
	background-color: #0BCD7A;
}

.price-slider p {
	width: 180px;
	border-top: 2px solid #d7dcde;
	margin: 0 auto;
}

.price-slider p::after {
	content: "";
	position: absolute;
	top: 29px;
	right: 40px;
	width: 4px;
	height: 4px;
	background-color: #ACACAC;
	border: 9px solid #ffffff;
	border-radius: 50%;
}

.price-slider p::before {
	content: "";
	position: absolute;
	top: 29px;
	left: 20px;
	width: 4px;
	height: 4px;
	background-color: #ACACAC;
	border: 9px solid #ffffff;
	border-radius: 50%;
}

.price-filter {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	position: relative;
	list-style: none;
}

.price-filter-item input {
	width: 95px;
	height: 38px;
	background-color: #f7f3ec;
	border: none;
	border-radius: 2px;
	margin-bottom: 24px;
	text-align: center;
}

.price-filter-item input,
.price-filter-item input::placeholder {
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
	font-size: 17px;
}

.price-filter li:nth-child(1)::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 104px;
	width: 10px;
	height: 4px;
	border-top: 1px solid #444444;
}

.filters-manufacturers-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
	margin-bottom: 22px;
}

.product-filter {
	border-bottom: 1px solid black;
}

.filters-manufacturers-form {
	list-style: none;
}

.product-filter-item,
.nutrition-filter-item {
	padding-left: 33px;
	margin-bottom: 18px;
	text-transform: uppercase;
	position: relative;
	display: block;
	cursor: pointer;
}

.product-filter li:last-child {
	margin-bottom: 22px;
}

.product-filter,
.nutrition-filter {
	margin: 0;
	padding: 0;
}

.product-filter-item input + label::before {
	position: absolute;
	content: "";
	left: 0px;
	width: 19px;
	height: 19px;
	border: 2px solid #c5c5c5;
	border-radius: 2px;
}

.product-filter-item input:checked + label::after {
	position: absolute;
	content: "";
	left: 0px;
	width: 25px;
	height: 19px;
	background-image: url("../img/checkbox-on.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.nutrition-filter-item input:checked + label::after {
	position: absolute;
	content: "";
	top: 6px;
	left: 7px;
	width: 10px;
	height: 10px;
	background-color: #c5c5c5;
	border-radius: 50%;
}

.nutrition-filter-item input + label::before {
	position: absolute;
	content: "";
	left: 0px;
	width: 19px;
	height: 19px;
	border: 2px solid #c5c5c5;
	border-radius: 50%;
}

.filters-manufacturers-form legend {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 15px;
	padding-left: 0;
}

.filters-manufacturers-form label {
	font-size: 15px;
}

.button-show {
	font-size: 13px;
	letter-spacing: -0.7px;
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;
	border: none;
	text-transform: uppercase;
	display: block;
	margin: 60px 0 0 0;
	padding: 11px 38px 10px 39px;
}

.catalog {
	width: 700px;
	display: flex;
	flex-direction: column;
}

.sorting {
	font-size: 13px;
	letter-spacing: 0.1px;
	text-transform: uppercase;
	background-color: #f7f3ec;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
}
.sorting p {
	margin: 10px 0 12px 18px;
}

.sorting-list {
	display: flex;
	justify-content: space-between;
	width: 358px;
	padding: 0;
	padding-right: 102px;
	margin: 10px 0 12px 0;
	position: relative;
	list-style: none;
}

.sorting-list a {
	opacity: 0.3;
	border-bottom: 2px dotted #ee3643;
	text-decoration: none;
}

.sorting-list .sorting-current {
	color: #ee3643;
	opacity: 1;
	border: none;
}

.sorting-list::after {
	position: absolute;
	content: "";
	top: 5px;
	right: 50px;
	width: 0px;
	height: 0px;
	border: 10px solid #ffffff;
	border-bottom-color: #ee3643;
	border-top-width: 0px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.sorting-list::before {
	position: absolute;
	content: "";
	top: 5px;
	right: 17px;
	width: 0px;
	height: 0px;
	border: 10px solid #ffffff;
	border-top-color: #c5c5c5;
	border-bottom-width: 0px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
}

.catalog-list-main {
	margin: 20px 0 41px 0;
	position: relative;
}

.actions {
	position: absolute;
	top: 5px;
	left: 2px;
	width: 216px;
	height: 88px;
	padding: 40px 0;
	text-align: center;
	background-color: rgba(255,255,255,0.9);
	z-index: 5;
}

.actions .buy,
.actions .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family:  "Cuprum", Arial, sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.actions .bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.actions {
	display: none;
}

.catalog-item:hover .actions,
.popular-catalog-item:hover .actions {
	display: block;
}

.catalog-list h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0 30px 10px 30px;
	text-align: center;
	line-height: 20px;
}

.catalog-list img {
	order: -1;
	margin-bottom: 8px;
	width: 218px;
	height: 170px;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	width: 218px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	margin-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.flag-new h3::after  {
	position: absolute;
	content: "";
	top: -2px;
	right: 0px;
	width: 60px;
	height: 60px;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 10;
}

.catalog-item-button {
	position: relative;
	width: 80px;
	margin: 7px 20px 22px 25px;
	padding: 9px 25px 6px 37px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
	text-decoration: none;
}

.catalog-item-button::after {
    content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.catalog-item-price {
	margin: 0;
	margin-top: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog-list del {
	font-size: 17px;
	color: #999999;
}

.pagination-list {
	font-size: 13px;
	display: flex;
	padding: 0;
	margin: 0;
	margin-bottom: 70px;
	list-style: none;
}

.pagination-list a {
	font-size: 13;
	color: #000000;
	text-transform: uppercase;
	padding: 9px 15px 11px 15px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	margin-right: 9px;
	text-decoration: none;
}

.pagination-list li:last-child a {
	padding: 9px 30px 11px 32px;
}

.pagination-item-current a {
	color: #ffffff;
	background-color: #ee3643;
	text-decoration: none;
}

.pagination-item a:hover {
	border-color: #bdc6ca;
}

.pagination-list a:active {
	border-color: #ee3643;
}

.description {
	background-color: #f4f7f9;
}

.description-wrapper h2 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	padding-top: 63px;
	padding-bottom: 22px;
}

.description-wrapper p {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	padding-bottom: 69px;
}

.modal-information {
	border-top: 7px solid #ee3643;
	width: 620px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
	display: none;
	z-index:30;
}

.headline-wrapper {
	position: relative;
	margin: 0 80px;
}

.modal-information h2 {
	font-size: 30px;
	margin: 68px auto;
	text-align: center;
	padding-left: 35px;
}

.modal-information h2::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 1px;
	width: 66px;
	height: 66px;
	background-image: url("../img/modal-check.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-information-wrapper {
	background-color: #f1f1f1;
	padding: 0 80px;
}

.modal-information p {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.modal-information-wrapper a {
	margin: 37px 0;
	padding: 14px 60px;
	text-decoration: none;
}

.modal-information-wrapper button {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin: 37px 0;
	padding: 14px 45px;
}

.show {
	display: block;
}



